<div class="container" id="gmu"> 
    <div class="page-header">
      <h1 id="timeline">Academics</h1>
    </div>
    <ul class="timeline">
      <li>
        <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h3 class="timeline-title">George Mason University,Virginia,USA</h3>
          </div>
          <div class="timeline-body">
            <h3>Master's in Computer Science</h3>
            <h4>Aug 2016-May 2018</h4>     
            <h4>GPA:3.33</h4>            
       
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h3 class="timeline-title">Jawaharlal Nehru Technological University,India</h3>
          </div>
          <div class="timeline-body">
           <h3>Bachelor's in Computer Science</h3>
           <h4>Jun 2012-May 2016</h4>
           <h4>GPA:3.33</h4>
            
           
          </div>
        </div>
      </li>
      
    </ul>
  </div>