<div class="rows">
  <div class="col-lg-3">
     <img src="{{imageUrls}}" height="350px">
  </div>
  <div class="col-lg-9">
    <div class="jumbotron">
      <h1>Sahiti Chandramouli</h1>
    
     <p id = "alignText">I am a Computer Science graduate who enjoys traveling and cooking.
        I am a currently working as a Software Engineer for Staples, Inc.</p>
     <p>My current work experience and academics at George Mason University has helped me develop the required skills and confidence to explore new career opportunities.</p>
    <p>Programming and taking up new coding challenges has always been my favorite. I would like to work in a fast-paced environment where I can draw my inspiration from everyone around.
    <p>Working in a company which will provide me an opportunity to apply the breadth of my knowledge practically is what I am looking forward to.</p>
    </div>
  </div>  
</div>
