<div class="container">
    <div class="page-header">
      <h1 id="timeline">Projects</h1>
    </div>
    <ul class="timeline">
      <li>
        <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h3 class="timeline-title">Website</h3>
          </div>
          <div class="timeline-body">
            <p>The current webiste is developed using Typescript for Angular 6</p>
            <p>Designed the website using HTML,CSS,Bootstrap</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h3 class="timeline-title">Recipe Book and Shopping List App</h3>
          </div>
          <div class="timeline-body">
          <h4>March 2018-April 2018,GMU</h4>
          <p>Designed a web application using TypeScript for Angular 6.</p>
          <p>Created reusable, testable modules and components which use and extend the core elements of Angular 6.</p> 
          <p>Implemented Angular directives, services, controllers and developed unit test for Angular 6.</p>
          </div>
        </div>
      </li>

      <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h3 class="timeline-title">National Parks Project</h3>
            </div>
            <div class="timeline-body">
                <h4>Sept 2017-Oct 2017,GMU</h4>
                <p>Created the web application using Express framework for Node.js.</p>
                <p>Designed the web page using HTML, CSS, Bootstrap.</p>
                <p>Implemented MongoDB to store and retrieve the list of national parks.</p>
              </div>
          </div>
        </li>


        <li class="timeline-inverted">
            <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">CS Department Student's Survey Page</h3>
              </div>
              <div class="timeline-body">
              <h4>Jan 2017-May 2017,GMU</h4>
              <p>Created a CS department web page including a survey form using HTML and CSS, JavaScript.</p>
              <p>Enhanced the functionality of the page using AJAX, JSON to populate some fields of the application and implemented session management using cookies and servlets.</p> 
              <p>Developed a tooltip using JQuery for the webpage to implement event handling and tabs views.</p>  
            </div>
            </div>
          </li>
      
          <li>
              <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                <h3 class="timeline-title">Supply Chain Information System</h3>
                </div>
                <div class="timeline-body">
                    <h4>Jan 2017-May 2017,GMU</h4>
                    <p>Defined the requirements of the system, implemented the database design specifications.</p>
                    <p>Created an ER diagram by enforcing integrity constraints, implemented views and generated tables using SQL by materializing the views.</p>
                    <p>Developed triggers and procedures to ensure the integrity of the database information.</p>
                  </div>
              </div>
            </li>

            <li class="timeline-inverted">
                <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h3 class="timeline-title">Student Survey Application on AWS</h3>
                  </div>
                  <div class="timeline-body">
                  <h4>Aug 2016-Dec 2016,GMU</h4>
                  <p>Created a MVC based web application using JSF2 framework and implemented database access logic to store, retrieve and delete the data using JPA and Amazon RDS.</p>
                  <p>Extended the application using Prime Faces, AJAX and RESTful Web Services to enhance the user experience.</p> 
                  <p>Deployed the application using Amazon EC2 and S3 interface.</p>  
                </div>
                </div>
              </li>
          



    </ul>
  </div>