<div class="container">
  <div class="page-header">
    <h1 id="timeline">Work Experience</h1>
  </div>
  <ul class="timeline">
      <li class="timeline">
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h3 class="timeline-title">Software Engineer</h3>
            </div>
            <div class="timeline-body">
              <h4>Staples,Inc.(Dec 2018 - Present)</h4>
             <p>Currently working for the Printing and Marketing department of Staples in the development and maintenance of their in-store application built in <b>TypeScript</b> for<b> Angular 6 </b>framework.</p>
             <p>Working towards the integration of <b> Localytics</b>(analysis and marketing tool) in the current project to track the user behavior.</p>
             <p>Designing an interactive web interface using Angular 6 framework in <b>HTML</b>, <b>Bootstrap</b>, <b>CSS</b> to display the release notes of the application.</p>
             <p>Defining the requirements of the system and implementing the required database specifications for the release notes feature.</p>
            <p>Refactored the existing application to improve its performance and to facilitate the initiation of new features.</p>
             <p>Replaced all the font awesome icons in the application with angular material icons to better suit the application requirements.</p>
             <p>Participate in the complete software life cycle development of the project which includes design, interface implementation, testing, review of the features, training and providing support.</p>
             <p>Identifying and resolving the bugs related to the application.</p>
             <p>Collaborating with the product owner to identify the customer requirements.</p>
            </div>
          </div>
        </li>
    <li class="timeline-inverted">
      <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h3 class="timeline-title">Graduate Teaching Assistant</h3>
        </div>
        <div class="timeline-body">
          <h4>George Mason University(Aug 2017-May 2018)</h4>
          <p>Grading the course assignments and presentations of undergraduate students for the courses <b>Systems Engineering Principles</b> and <b>Critical Infrastructure Protection</b> in Cyber Security Engineering Department.</p>
          <p>Holding office hours and assisted students to develop solutions to business applications by analyzing problems using <b>Object Oriented Principles</b>
             through <b>Java</b>.</p>
             <p>Providing feedback regarding their performance in research topics like Blockchain Technology, NIST framework, Net Neutrality.</p>
        </div>
      </div>
    </li>
    <li class="timeline">
      <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h3 class="timeline-title">Graduate Research Assistant</h3>
        </div>
        <div class="timeline-body">
            <h4>Krasnow Institute for Advanced Study(March 2017-April 2018)</h4>
          <p>Developed a <b>REST API</b> to display data in JSON</p>
          <p>Performed code integration using <b> Subversion(SVN)</b> and provided support in the maintenance of an Ubuntu cloud instance.</p>
        </div>
      </div>
    </li>
    
  </ul>
</div>