<div class="container">
  <div class="page-header">
    <h1 id="timeline">Work Experience</h1>
  </div>
  <ul class="timeline">
    <li>
      <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h3 class="timeline-title">Graduate Teaching Assistant</h3>
        </div>
        <div class="timeline-body">
          <h4>George Mason University(Aug 2017-May 2018)</h4>
          <p>Grading the course assignments and presentations of undergraduate students for the courses <b>Systems Engineering Principles</b> and <b>Critical Infrastructure Protection</b> in Cyber Security Engineering Department.</p>
          <p>Holding office hours and assisted students to develop solutions to business applications by analyzing problems using <b>Object Oriented Principles</b>
             through <b>Java</b>.</p>
             <p>Providing feedback regarding their performance in research topics like Blockchain Technology, NIST framework, Net Neutrality.</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h3 class="timeline-title">Graduate Research Assistant</h3>
        </div>
        <div class="timeline-body">
            <h4>Krasnow Institute for Advanced Study(March 2017-April 2018)</h4>
          <p>Developed a <b>REST API</b> to display data in JSON</p>
          <p>Performed code integration using <b> Subversion(SVN)</b> and provided support in the maintenance of an Ubuntu cloud instance.</p>
         
        </div>
      </div>
    </li>
    
  </ul>
</div>